body{
	margin: 0;
	
}

#navbar {
  background-color: #2d3246; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -100px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  display: block;
  font-family: 'Lora';
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#navbar a:hover {
  color: black;
}

.content{
  position: relative;
  text-align: center;
  color: #fff;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  }
.center h1{
	font-weight: bolder;
	font-size: 40px;
	font-family: ;
	
}

.center h3{
	font-weight: bold;
	font-size: 30px;
	font-family: serif;
	font-style: oblique;
}

#about{
	padding-top: 70px;
	color: #232f42;
}
#about h3{
	padding: 10px;
	color: #1d2324;
	font-weight:bold;
	border-bottom: 4px solid #78bdc2; 
	font-family: ;
	
}
#about p{
	padding: 50px;
	font-family: 'Lora';
	
	font-size: 16px;
	font-weight: bolder;
	color:#5e5959;
}
.center1 img{
	margin:auto;
	display: block;

}

.carousel{
	background-image: url("img/1.jpg");
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 580px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    color: white;
}
.bs-example{
    margin: 40px;
}

.carousel-item img{
    margin-top: 20px;
}

.bs-example h3{
	padding: 20px;
	color: #1d2324;
	font-weight:bolder;
	border-bottom: 4px solid #78bdc2; 
	

}

.container {
  position: relative;
 
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#0f0f0f;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-family: 'Lora';
  font-size: 15px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

#org h3{
	padding: 10px;
	color: #1d2324;
	font-weight:bold;
	border-bottom: 4px solid #78bdc2; 
	
}

.context-dark {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#pro h3{
	border: none;
	color: #c4cfca;
	text-align: center;
	font-family:'Lora';

}

#pro p{
	text-align: center;
	color: #c4cfca;
	font-family: 'Lora';
	font-style: italic;
}